# Copy this file to ".env" and paste your keys.
# Groq: https://console.groq.com/keys
GROQ_API_KEY=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

# Google AI Studio: https://aistudio.google.com/apikey
GOOGLE_API_KEY=AQ.Ab8RN6LKoBE4F79GvI5LvfpHhR5ftAyXk9hjRaoYNjdkLhyg7A
